<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TestConsole.Properties.Settings.CompassDbConnString"
            connectionString="Data Source=.\SQL2012;Initial Catalog=CompassDb;Integrated Security=True" />
    </connectionStrings>
</configuration>