<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DailySync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DailySync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DailySync.Properties.Settings>
            <setting name="ProveedoresCuidoGetProvUrl" serializeAs="String">
                <value>https://servicios.adsef.pr.gov/CIMA_WAPI/api/Proveedores/getProveedores</value>
            </setting>
            <setting name="CompassDbConnString" serializeAs="String">
                <value>Data Source=.\SQL2012;Initial Catalog=CompassDb;Integrated Security=True</value>
            </setting>
        </DailySync.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <DailySync.Properties.Settings>
            <setting name="ProveedoresCuidoGetProvByIdTemplateUrl" serializeAs="String">
                <value>https://servicios.adsef.pr.gov/CIMA_WAPI/api/Proveedores/getProveedoresById/{0}</value>
            </setting>
        </DailySync.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsEstablishmentsSoap" maxBufferSize="20971520" maxBufferPoolSize="167772160" maxReceivedMessageSize="20971520">
                    <security mode="Transport" />
                </binding>
                <binding name="wsEstablishmentsSoap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="wsEstablishmentsSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://servicios.adsef.pr.gov/sdec_ws/wsEstablishments.asmx"
                binding="basicHttpBinding" bindingConfiguration="wsEstablishmentsSoap"
                contract="PanEstablishmentsWS.wsEstablishmentsSoap" name="wsEstablishmentsSoap" />
            <endpoint address="https://servicios.adsef.pr.gov/sdec_ws/wsEstablishments.asmx"
                binding="customBinding" bindingConfiguration="wsEstablishmentsSoap12"
                contract="PanEstablishmentsWS.wsEstablishmentsSoap" name="wsEstablishmentsSoap12" />
        </client>
    </system.serviceModel>
</configuration>